.App {
  text-align: center;
  font-family: Helvetica;
  margin-top: 23%;
}

.App-title {
  font-size: 20px;
  margin: 5px;
}

.Clock-days, .Clock-hours, .Clock-minutes, .Clock-seconds {
  display: inline;
  margin: 10px;
}
